body {
    background: white;
    color: black;
    max-width: 600px;
    margin: auto;
    font-family: sans-serif;
    text-align: center;
}

article {
    
    padding-top: 20px;
}
.mainDiv + .mainDiv {
    margin-top: 3rem;
    border-top: 1px solid rgb(42, 38, 38);
}

.mainDiv {

    margin-top: 50px;
    justify-content: space-around;
}